* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: wihte;*/
}

.grid-container {
    display: grid;
    grid-template-rows: 56px 800px 504px 239px 524px 674px 340px 425px;
    /*grid-template-columns: repeat(2, 1fr);*/
}

.header {
    background-color: lightcyan;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 2px black;
}

.logosection {
    border: solid 2px blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

#logo {
    height: 56px;;
}

nav {
    background-color: pink;
}

nav a{
    padding: 0 24px;
    border: solid 2px yellow;
}

.image-section img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.centertext {
  position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%, -50%);
}

.centertext h1 {
    color: #F7B180;
}

a {
    color: #18471B;
    text-decoration: none;
}
.featured-section, .contact-sections {
    background-color: #F7B180;
}

.awards-sections {
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.awards-sections img {
    height: 80%;
}

.featured-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.featured-section img{
    height: 70%;
}


.trips-section {
    background-color: lightgrey;
}

.cardsgroup {
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;

}

.adventure-card {
    border: solid 2px black;
    height: 360px;
    width: 229px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
}

#menuchk {
    display: none;
}

.burger {
    display: none;
}

@media (max-width: 425px) {
    .burger {
        display: block;
    }
    nav {
        display: none;
    }

   #menuchk:checked + nav {
        display: flex;
        flex-direction: column;
        width: 200%;
        align-items: flex-end;
        position: absolute;
        top: 56px;
        left: 0;
    }
}

