:root {
    --primary-color: #FFFFFF;
    --secondary-color: #F7B180;
    --third-color: #18471B;
    --fourth-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: white;*/
}

.grid-container {
    display: grid;
    grid-template-rows: 56px 800px 280px 239px 524px 674px 340px 425px;
    /*grid-template-columns: repeat(2, 1fr);*/
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}
.logo-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
#logo {
    height: 56px;;
}
nav a:nth-child(3) {
    padding: 10px;
    border: 1px solid var(--third-color);
    border-radius: 10px;
}
nav a:nth-child(4) {
    color: white;
    background-color: var(--third-color);
    padding: 10px;
    border-radius: 10px;;
}
.image-section img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.image-section a {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    background-color: var(--third-color);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 100;
}
.centertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centertext h1 {
    color: var(--secondary-color);
    font-family: 'Sacramento', cursive;
    font-size: 3.0rem;
    font-weight: 100;
}
a {
    color: var(--third-color);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 16px 32px;
}
.about-section h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}
.about-section h5, p {
    font-family: 'Montserrat', sans-serif;
}
.about-section p:first-child {
    font-weight: 700;
}
.about-section a {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid var(--third-color);
    padding: 5px;
    border-radius: 5px;;
}
.featured-section h3, p {
    font-family: 'Montserrat', sans-serif;

}
.featured-section, .contact-sections {
    background-color: var(--secondary-color);
}

.awards-sections {
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.awards-sections img {
    height: 80%;
} 

.featured-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.featured-section img{
    height: 70%;
}


.trips-section {
    font-family: 'Montserrat', sans-serif;

    background-color: lightgrey;
}

.cardsgroup {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;

}

.adventure-card {
    border: solid 1px var(--fourth-color);
    height: 360px;
    width: 229px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
}
.adventure-card h5, p {
    padding: 20px;
}

#menuchk {
    display: none;
}

.burger {
    display: none;
}
.contact-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #F7B180;
}
.contact-section h3 {
    color: var(--fourth-color);
    font-family: 'Sacramento', cursive;
    font-size: 5.0rem;
    font-weight: 100;
}
.contact-section a:nth-child(2) {
    background-color: var(--third-color);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: var(--primary-color);
}
.contact-section a:nth-child(3) {
    background-color: var(--primary-color);
    border: 1px solid var(--third-color);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}
footer {
    display: flex;
    justify-content: center;
}
@media (max-width: 425px) {
    .burger {
        display: block;
    }
    nav {
        display: none;
    }

   #menuchk:checked + nav {
        display: flex;
        flex-direction: column;
        width: 200%;
        align-items: flex-end;
        position: absolute;
        top: 56px;
        left: 0;
    }
}

