:root {
    --primary-color: #FFFFFF;
    --secondary-color: #F7B180;
    --third-color: #18471B;
    --fourth-color: #000000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-rows: auto 800px 300px auto 524px auto 300px 100px;
}
.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}
.logo-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
#logo {
    height: 56px;
}
nav a {
    padding: 10px;
}
nav a:nth-child(3) {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--third-color);
    border-radius: 10px;
    white-space: nowrap;
}
nav a:nth-child(4) {
    color: white;
    background-color: var(--third-color);
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
    margin-top: 10px;
}

.image-section {
    background-image: url("/Terracotta-Tours/assets/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centertext {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centertext h1 {
    color: var(--secondary-color);
    font-family: 'Sacramento', cursive;
    font-size: 3.6rem;
    font-weight: 400;
    text-align: center;
}
.image-section a {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    background-color: var(--third-color);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 100;
    width: 220px;
}
a {
    color: var(--third-color);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 26px 56px;
}
.about-section h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}
.about-section h5, p {
    font-family: 'Montserrat', sans-serif;
}
.about-section p:first-child {
    font-weight: 700;
}
.about-section a {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid var(--third-color);
    padding: 5px;
    border-radius: 5px;
    width: 170px;
    text-align: center;
}
.awards-sections {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.awards-sections img {
    height: 33%;
} 

#featured-text {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    width: 40%;
}
#featured-text p {
    padding-top: 20px;
}
.featured-section, .contact-section {
    background-color: var(--secondary-color);
}
.featured-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.featured-section img{
    height: 60%;
}
.trips-section {
    font-family: 'Montserrat', sans-serif;
    margin: 32px 56px;
    padding: 24px;
}

.cardsgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    margin: 24px;
}

.adventure-card {
    border: solid 1px var(--fourth-color);
    height: 360px;
    width: 279px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 70px;
    margin: 20px;
}

.adventure-card img {
    object-fit: cover;
    height: 180px;
}
.adventure-card h5{
    margin: 24px 10px;
}
.adventure-card p{
    margin: 10px;
}

#menuchk {
    display: none;
}

.burger {
    display: none;
}
.contact-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #F7B180;
}
.contact-section h3 {
    color: var(--fourth-color);
    font-family: 'Sacramento', cursive;
    font-size: 5.0rem;
    font-weight: 100;
}
.contact-section a:nth-child(2) {
    background-color: var(--third-color);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: var(--primary-color);
}
.contact-section a:nth-child(3) {
    background-color: var(--primary-color);
    border: 1px solid var(--third-color);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}
footer {
    display: flex;
    color: var(--fourth-color);
    justify-content: center;
}
@media (max-width: 800px) and (min-width: 400px) {
    .burger {
        display: block;
    }
    nav {
        display: none;
    }

   #menuchk:checked + nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: flex-end;
        position: absolute;
        top: 55px;
        left: 0;
    }
    .contact-section {
        flex-direction: column;
    }
}

